*
{
  padding: 0;
  
  margin: 0;
}

.wrapper
{
  padding-left: 10%;
  
  padding-right: 10%;
}

.title-bar
{
  display: flex;
  
  align-items: center;
  
  margin-top: 6%;
}

.name
{
  display: inline-flex;
  
  font-size: 150%;
}

.save-notification
{
  display: inline-flex;
  
  color: gray;
  
  margin-left: auto;
  
  font-size: 120%;
}

.box
{
  outline: none;
  
  background-color: white;
  
  border: 2px solid #777;
  
  border-radius: .3em;
  
  resize: none;
  
  width: 80%;
  
  height: 250px;
  
  margin-top: 10%;
  
  font-size: 150%;
  
  padding: 1%;
  
  transition: all .2s ease-in;
}
.box:focus
{
  border-color: #673AB7;
}